$icon-color: #494b74;
$icon-hover-color: #3699FF;

.svg-icons{
    transition: background-color 0.3s ease;

    svg g [fill]{
        fill: $icon-color;
        transition: fill 0.3s ease;
    }
}
.dropdown-notification{
    height: 390px;
    width: 300px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: transparent transparent;

    @media (max-width: 350px) {
        width: 250px;
        height: 300px;
    }
}

.notification-btn{
    padding: 3px 6px;
    border-radius: 0.42rem;
    margin-right: 7px;
    color: #595d6e;

    &:hover{
        background-color: #F3F6F9;
        text-decoration: none;

        svg g [fill]{
            fill: $icon-hover-color;
        }
    }
    i{
        position: absolute;
        right: 4px;
        font-style: normal;
        top: -1px;
        line-height: 1;
        font-size: 10px;
        background-color: white;
        font-weight: 600;
        color: $icon-hover-color;

        @media (max-width: 1199px) {
            background-color: transparent;
        }
    }
}
.notification-link{
    color: #595d6e;
    display: block;
    padding: 12px 20px;
    border-bottom: 1px solid #f7f8fa;

    &:hover{
        text-decoration: none;
        background-color: #f7f8fa;
        color: #595d6e;
        transition: all .2s;

        .notification-title{
            color: #5d78ff;
        }
    }
}
.notification-time{
    font-size: 12px;
}
.notification-link-all{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #5d78fd;
    color: white;
    transition: all .3s;

    &:hover{
        text-decoration: none;
        background-color: #3758ff;
        color: white;
    }
}
.wrapper{
    padding-left: 265px;
    background: #EEF0F8;
    min-height: 50vh;

    @media (max-width: 1199px){
        padding-left: 0;
    }
}
.header{
    padding: 15px;
    height: 65px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 6;

    @media (max-width: 1199px){
        background-color: #1e1e2d;
        height: 50px;
        padding: 6px 10px 6px 15px;
    }
    .dropdown-toggle{
        padding: 4px 10px;

        @media (max-width: 1199px){
            color: #fff;
            background-color: transparent;
            padding: 0 10px;
        }
        &:after{
            display: none;
        }
        .flaticon-user{
            font-size: 24px;
        }
    }
    .dropdown-menu{

        @media (max-width: 575px){
            margin-top: 8px;
        }
        i{
            font-size: 20px;
        }
    }
}
.open-menu{
    color: #ffffff;
    padding: 0 5px;

    @media (min-width: 1200px) {
        display: none;
    }
    &:focus, &:hover{
        color: #cbcbcb;
    }
    .flaticon2-cross{
        font-size: 20px;
        width: 30px;
        display: none;
    }
}
.open-menu-opened{

    .flaticon2-cross{
        display: block;
    }
    svg{
        display: none;
    }
}
.subheader{
    background-color: #ffffff;
    padding: 10px 25px;
    border-top: 1px solid #EBEDF3;
    position: sticky;
    top: 65px;
    z-index: 5;
    margin-bottom: 25px;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1199px) {
        top: 50px;
        padding: 10px 15px;
    }
    @media (max-width: 575px){
        padding: 0 10px 10px;

        .btn{
            padding: 0.5rem 1rem;
        }
    }
}

.lang-drop{

    .dropdown-toggle{

        img{
            border-radius: 3px;
        }
        &:after{
            display: none;
        }
    }
    .dropdown-item{
        margin: 5px 0;
        padding: 0.6rem 1.5rem;

        img{
            margin-right: 5px;
            border-radius: 4px;
        }
    }
}





.mobile-table{
    border:0;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    color: #595d6e;

    thead{

        tr{
            th:first-child{

            }
            th{
                text-transform: uppercase;
                text-align: left;
                font-size: 13px;
                border-bottom:1px solid #e5e5e5;
                border-top: none;
                white-space: nowrap;
            }
        }
    }
    tbody{
        background: #fff;

        tr{
            border-top:1px solid #e5e5e5;

            td:first-child{

            }
            td{
                text-align: left;
                padding: 15px 10px;
                font-size:13px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .mobile-table{
        border: 1px solid transparent;
        box-shadow: none;

        thead{
            display: none;
        }
        tbody{
            tr{
                border-top: none;
                border-bottom: 45px solid #F8F8F8;

                td:first-child{
                    padding-left:10px;

                }
                td:before{
                    content: attr(data-label);
                    float: left;
                    font-size:13px;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding-right: 10px;
                }
                td{
                    display: block;
                    text-align: right;
                    padding: 7px 0!important;
                }
            }
        }
    }
}
.table-buttons{
    white-space: nowrap;
    padding: 0!important;
    vertical-align: middle!important;

    @media screen and (max-width: 991px){
        text-align: right!important;
    }
    .btn{
        padding: 0.4rem .8rem;

        &:hover{
            background: #f0f3ff;

            i{
                color: #5d78ff;
            }
        }

        i{
            color: #93a2dd;
            font-size: 16px;
        }
    }
}














.jpreview-image {
    width                   : 107px;
    height                  : 107px;
    position                : relative;
    margin: 5px;
    border-radius: 5px;
    background-repeat       : no-repeat;
    background-position     : center center;
    background-size         : cover;
}
.jpreview-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
}

.jpreview-image img {
    max-width: 100%;
    max-height: 100%
}
.input-append{

    .input-group-btn{

        .btn{
            background-color: #5d78ff;
            border-color: #5d78ff;
            color: #fff;

            border-radius: 0.42rem 0 0 0.42rem;

            &:hover, &:focus{
                color: #fff;
                background-color: #3758ff;
                border-color: #2a4eff;
            }
        }
    }
}




.search-block{
    width: 250px;

    .btn{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 21px;
        color: #929292;
        padding: 3px 8px;
        height: 100%;
    }
    input[type=search]{
        padding-right: 42px;
    }
}
.menu-nav > .menu-item > .menu-link.active .menu-text {
    color: white;
}
