.profile-menu {
  background-color: white;
  width: 393px;
  color: #0C0C0C;
  padding-bottom: 110px;
  padding-top: 27px;
  position: relative;
  min-height: calc(100vh - 202px);
}

@media (max-width: 1199px) {
  .profile-menu {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .profile-menu {
    white-space: nowrap;
    width: 42px;
    flex: 0 0 42px;
    max-width: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 59px;
    left: 0;
    z-index: 1;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    height: calc(100vh - 44px);
    padding: 10px 0;
  }

  .profile-menu.open-filter {
    left: 0;
    width: 270px;
    overflow: initial;
    position: fixed;
  }

  .profile-menu.open-filter .nav-item {
    padding: 7px 10px 7px 43px;
  }

  .profile-menu.open-filter .open-simul-filter {
    transform: rotate(0deg);
  }
}

.profile-menu .profile-menu-links {
  margin-top: 31px;
}

.profile-menu .profile-menu-links .nav-item {
  display: flex;
  align-items: center;
  padding: 19px 10px 19px 54px;
  cursor: pointer;
  font: 16px/25px "Verdana";
  letter-spacing: 0.48px;
  color: #0C0C0C;
  white-space: nowrap;
  border-bottom: 1px solid #EFF0F3;
}

.profile-menu .profile-menu-links .nav-item:last-of-type {
  border-bottom: 0;
}

.profile-menu .profile-menu-links .nav-item img {
  width: 19px;
  height: 21px;
}

@media (max-width: 1199px) {
  .profile-menu .profile-menu-links .nav-item {
    padding: 7px;
  }
}

.profile-menu .profile-menu-links .nav-item:hover,
.profile-menu .profile-menu-links .nav-item.active {
  text-decoration: none;
  transition: 0.3s all;
  background-color: #F7F7F7;
}

.profile-menu .profile-menu-links .nav-item span:first-child {
  width: 26px;
  margin-right: 18px;
  flex: 0 0 26px;
  text-align: center;
}

.open-filter .user-profile-block {
  padding: 46px 15px 15px;
}

.user-profile-block {
  padding: 0 43px 7px 15px;
}

@media (max-width: 767px) {
  .user-profile-block {
    padding: 46px 42px 15px;
  }
}

.user-profile-block .profile-image {
  position: relative;
  display: inline-block;
  width: 187px;
  border-bottom: 35px solid #F1F3F6;
  border-radius: 0 0 32px 32px;
}

.user-profile-block .edit {
  position: absolute;
  bottom: -25px;
  right: 18px;
}

.user-profile-block .prof-img {
  width: 100%;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px 32px 0 0;
}

.user-profile-block span {
  font: 14px/25px "Verdana";
  letter-spacing: 0.42px;
  color: #292929;
}

.open-simul-filter {
  position: absolute;
  right: 2px;
  top: 7px;
  z-index: 1;
  background-color: transparent;
  padding: 7px;
  transform: rotate(180deg);
  display: none;
}

@media (max-width: 767px) {
  .open-simul-filter {
    display: block;
  }
}

.profile-right-side {
  width: calc(100% - 393px);
  padding: 44px 66px;
}

@media (max-width: 1199px) {
  .profile-right-side {
    width: calc(100% - 300px);
  }
}

@media (max-width: 767px) {
  .profile-right-side {
    width: calc(100% - 42px);
    padding: 44px 20px;
  }
}

.profile-right-side.requests {
  padding: 44px 45px;
  max-width: 883px;
}

@media (max-width: 767px) {
  .profile-right-side.requests {
    padding: 44px 20px;
  }
}

.profile-right-side.comparison {
  padding: 44px 44px;
  max-width: 801px;
}

@media (max-width: 767px) {
  .profile-right-side.comparison {
    padding: 44px 20px;
  }
}

.profile-right-side.booking {
  padding: 44px 48px 83px;
  max-width: 977px;
}

@media (max-width: 767px) {
  .profile-right-side.booking {
    padding: 44px 20px;
  }
}

.profile-right-side.notifications {
  padding: 44px 40px;
  max-width: 965px;
}

@media (max-width: 767px) {
  .profile-right-side.notifications {
    padding: 44px 20px;
  }
}

.profile-right-side .filters {
  margin: 36px 0 20px;
}

.profile-right-side .filters select {
  font-size: 14px;
  border: 1px solid #E0E7F2;
  border-radius: 20px;
  padding: 7px 58px 8px 19px;
  width: 165px;
  margin-right: 2px;
}

@media (max-width: 575px) {
  .profile-right-side .filters select {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .mobile-table table {
    border: 0;
    border-radius: 0 !important;
  }

  .mobile-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mobile-table table tr {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 20px;
    border-top: 0;
  }

  .mobile-table table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }

  .mobile-table table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-family: "Verdana-Bold";
    color: black;
  }

  .mobile-table table td:last-child {
    border-bottom: 0;
  }
}

.request-table {
  border: 1px solid #E0E7F2;
  border-radius: 20px 20px 0 0;
}

@media (max-width: 991px) {
  .request-table {
    border-radius: 0;
    border: 0;
  }
}

.request-table table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.request-table table th,
.request-table table td {
  font: 14px/17px "Verdana";
  vertical-align: middle;
  padding: 14px 22px;
}

@media (max-width: 575px) {
  .request-table table th,
  .request-table table td {
    font-size: 13px;
    padding: 11px 16px;
  }
}

.request-table table th {
  color: white;
  font-family: "Verdana-Bold";
  background-color: #929FB4;
  border: 0;
}

.request-table table td {
  background-color: white;
  color: #0C0C0C;
  border-bottom: 1px solid #E0E7F2;
}

@media (max-width: 991px) {
  .request-table table td {
    border-bottom: 0;
  }
}

.request-table table td a {
  color: #0C0C0C;
}

.request-table table tr:last-child td {
  border-bottom: 0;
}

.notification-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 86px 7px 11px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  transition: 0.3s all;
  margin-bottom: 1px;
}

@media (max-width: 575px) {
  .notification-box {
    flex-wrap: wrap;
  }
}

.notification-box:first-child {
  margin-top: 17px;
}

.notification-box:hover {
  background-color: #D9E0EB;
  transition: 0.3s all;
}

.notification-box:hover .notification-actions {
  opacity: 1;
  transition: 0.3s all;
}

.notification-box:hover .notification-time {
  opacity: 0;
}

.notification-title {
  width: 191px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 575px) {
  .notification-title {
    width: calc(100% - 35px);
  }
}

.notification-title,
.notification-time {
  font: 14px/31px "Verdana-Bold";
  color: black;
}

.notification-text {
  max-width: 389px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

@media (max-width: 575px) {
  .notification-text {
    max-width: 100%;
    padding-left: 36px;
  }
}

.notification-time,
.notification-actions {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

.notification-actions {
  opacity: 0;
}

.booking-tabs {
  width: calc(100% - 305px);
  flex: 0 0 calc(100% - 305px);
  margin-top: 33px;
}

@media (max-width: 991px) {
  .booking-tabs {
    width: 100%;
    flex: 0 0 100%;
  }
}

.booking-tabs .tab-content {
  background: #FFFFFF;
  padding: 38px 30px 60px;
  margin-top: 18px;
}

@media (max-width: 575px) {
  .booking-tabs .tab-content {
    padding: 38px 15px 60px;
  }
}

.booking-tabs .nav-pills .nav-link {
  font: 16px/19px "Verdana";
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #0C0C0C;
}

@media (max-width: 575px) {
  .booking-tabs .nav-pills .nav-link {
    font-size: 14px;
  }
}

.booking-tabs .nav-pills .nav-link.active {
  background-color: white;
  border-color: #E0E7F2;
  color: #0C0C0C;
}

.choosed {
  background-color: white;
  margin-top: 40px;
  padding: 29px 24px 14px 34px;
}

@media (max-width: 575px) {
  .choosed {
    padding: 29px 15px;
  }
}

.choosed-info h6 {
  font-size: 14px;
  margin-bottom: 26px;
}

.choosed-info .sidebar-info-div {
  font-size: 14px;
  margin-bottom: 15px;
}

.choosed-info .sidebar-info-div span:first-child {
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 575px) {
  .choosed-info .sidebar-info-div span:first-child {
    width: 111px;
    flex: 0 0 111px;
  }
}

.choosed-location {
  width: calc(100% - 240px);
  padding-left: 20px;
}

@media (max-width: 991px) {
  .choosed-location {
    padding-left: 0;
    width: 100%;
  }
}

.choosed-location .location-box {
  max-width: 517px;
  margin-top: 5px;
}

.choosed-location .location-image img:not(.location-map) {
  min-height: 163px;
}

.download-invoice {
  border-top: 1px solid #F7F7F7;
  padding: 30px 0 0;
}

.download-invoice .download {
  margin-left: 31px;
}

.comparison-hotels {
  border-top: 1px solid #E3E3E3;
  margin-top: 5px;
  padding: 35px 0;
}

.comparison-hotels .map {
  cursor: pointer;
  margin-bottom: 36px;
}

.comparison-hotels .map img {
  margin-right: 2px;
}

.comparison-hotels .map span:last-child {
  color: #919191;
  font-size: 14px;
  margin-left: 3px;
}

.comparison-box {
  width: 47%;
  flex: 0 0 47%;
  background: white;
  padding: 32px 35px 38px;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .comparison-box {
    width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 575px) {
  .comparison-box {
    width: 100%;
    flex: 0 0 100%;
    padding: 32px 15px;
  }
}

.comparison-box .price {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  margin: 16px 0;
  padding: 16px 0 8px;
}

.comparison-box .price span:last-child {
  font-family: "Verdana-Bold";
}

.comparison-box .price .d-flex {
  margin-bottom: 8px;
}

.comparison-box .price-old span:first-child {
  color: #AEAEAE;
}

.comparison-box .price-old span:last-child {
  font-family: "Verdana";
  position: relative;
}

.comparison-box .price-old span:last-child:after {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: 1px;
  background: red;
  top: 50%;
  right: 0;
  left: -3px;
}

.comparison-image {
  width: 100%;
  border-radius: 14px;
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 12px;
}

.comparison-image.small {
  height: 159px;
}

.comparison-title {
  font: 16px/22px "Verdana-Bold";
  margin: 13px 0 8px;
  min-height: 44px;
}

.comparison-title.big {
  font-size: 18px;
  min-height: unset;
}

.comparison-description {
  font: 12px/22px "Verdana";
  color: rgba(0, 0, 0, 0.52);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 3px;
}

.comparison-description ~ .d-flex {
  margin-bottom: 7px;
}


